
.intro {
  text-align: center;
  align-items: center;
  background-color: #000;
}

.intro p {
  color: yellow;
  font-size: 20px;

}


.quiz {
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.quiz p {
  font-size: 20px;
  text-align: center;
  color: yellow;
}

.quiz h4 {
  font-size: 40px;
  color: yellow;
}

p#start {
  width: 16em;
  font-size: 200%;
  font-weight: 400;
  margin: 20% auto;
  color: lightblue;
  opacity: 100%;
  z-index: 1;
  -webkit-animation: intro 2s ease-out;
  -moz-animation: intro 2s ease-out;
  -ms-animation: intro 2s ease-out;
  -o-animation: intro 2s ease-out;
  animation: intro 2s ease-out;
}



